.size{
    font-size: 20px;
}

.fondoVerde{
    background-color:#003D29;
}

.shopCart{
    width: 150px;
    height: 40px;
}

/* HERO */

.colorVerde{
    color: #003D29 !important;
}

.tamaño{
    font-size: 65px;
    font-weight: bold;
}

.heroBoton{
    background-color: #003D29 !important;
    color:white !important;
    border-radius: 15% !important;
    font-weight: bold !important;
    width: 15%;
    font-size: large !important;
}

.hero{
    background-image: url(Img/Hero\ TPfinal.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* Section Sillon */
.imgSillon{
    background-image: url(Img/FotoSillones.png);
    height: 100vh !important;
    width: 100% !important;
    background-size: cover;
    background-position: center;
}

.absolute{
    position: absolute;
}

.fondo{
    background-color: #003D29 !important;
    color: white;
}

.derecha{
    text-align: end !important;
}


/* Footer */

.bord{
    border: 1px solid rgb(201, 201, 201); 
    width: 60px;
    height: 40px;
    margin: 5px;
    border-radius: 10%;
}

.sinMarcador{
    list-style: none;
}

li{
    padding-bottom: 3px;
    cursor: pointer;
}

li:hover{
    color:rgb(248, 61, 61);
    transform: translateX(8px);
    transition: 0.5s;
}

.icons{
    font-size: x-large;
    color:rgb(226, 43, 76);
    cursor: pointer;
}

.footerText{
    cursor: pointer;
}

.footerText:hover{
    color: rgb(226, 43, 76);
}

.borde{
    border-right: 1px black solid;
}

/* SINGIN.HTML */

.ancho{
    width: 25rem;
    align-items: center;
}

.btnVerde{
    background-color: #003D29 !important;
    color: white !important;
}

.input{
    border-radius: 5%;
    border: 1px solid rgb(191, 190, 190);
}

.borde{
    border: 1px solid rgb(160, 158, 158);
    border-radius: 2%;
}

.btnBlanco{
    background-color: white;
}

.btnBlanco:hover{
    background-color: rgb(232, 231, 231, 0.7) !important;
}

.styled-paragraph {
    /* position: relative; */
    text-align: center;
    font-size: 12px;
    color: gray;
}

.styled-paragraph::before,
.styled-paragraph::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 0.3px;
    background-color: gray;
}

.styled-paragraph::before {
    margin-right: 1em;
}

.styled-paragraph::after {
    margin-left: 1em;
}